
<header class="intro">
    <div class="intro-inner">
        <h1 class="intro-title">නෝර්වීජියානු<br>මිත්‍යා කතා</h1>
        <a href="#index" class="intro-btn">සුද්ද සිංහලෙන් කියවන්න</a>
    </div>
    <div class="pattern">
        <div class="pattern-line pattern-left"></div>
        <div class="pattern-icon">
            <img src="/img/odin-line.svg" alt="odin-icon">
        </div>
        <div class="pattern-line pattern-right"></div>
    </div>
</header>
<main>
    <div class="container">
        <div class="index" id="index">
            <div class="line">
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 364.17 15.95" fill="var(--foreground, #3f4449)"><g id="Layer_2" data-name="Layer 2"><g id="_1" data-name="1"><path class="cls-1" d="M354.89,10.55H189.33L186.75,8l2.58-2.58H354.89a1.25,1.25,0,0,0,0-2.5H188.81a1.06,1.06,0,0,0-.25,0l-.11,0-.12,0-.13.07-.08,0a1.49,1.49,0,0,0-.2.15l-2.94,3-1.13-1.13,3-2.95A1.25,1.25,0,1,0,185,.37l-2.95,2.94L179.14.37a1.25,1.25,0,1,0-1.77,1.76l2.95,3-1.13,1.13-2.95-2.95a1.39,1.39,0,0,0-.19-.15l-.09,0L175.84,3l-.13,0-.11,0-.24,0H9.28a1.25,1.25,0,1,0,0,2.5H174.84L177.42,8l-2.58,2.57H9.28a1.25,1.25,0,1,0,0,2.5H175.36a1,1,0,0,0,.24,0l.11,0,.13,0,.12-.07.09-.05a.9.9,0,0,0,.19-.15l2.95-2.95,1.13,1.13-2.95,3a1.24,1.24,0,0,0,0,1.76,1.21,1.21,0,0,0,.88.37,1.25,1.25,0,0,0,.89-.37l2.94-2.94L185,15.58a1.21,1.21,0,0,0,.88.37,1.25,1.25,0,0,0,.89-2.13l-3-3L185,9.74l2.94,2.95a1,1,0,0,0,.2.15l.08.05.13.07.12,0,.11,0a1.06,1.06,0,0,0,.25,0H354.89a1.25,1.25,0,0,0,0-2.5ZM182.08,9.1,181,8l1.13-1.13L183.21,8Z"/><path class="cls-1" d="M362.92,6.73H196.84a1.25,1.25,0,0,0,0,2.5H362.92a1.25,1.25,0,0,0,0-2.5Z"/><path class="cls-1" d="M168.58,8a1.25,1.25,0,0,0-1.25-1.25H1.25a1.25,1.25,0,0,0,0,2.5H167.33A1.25,1.25,0,0,0,168.58,8Z"/></g></g></svg>
            </div>
            <h2 class="index-title">පටුන</h2>
            <ol class="index-headings">
                <% if (articles != null) { %>
                    <% articles.forEach(level1 => { %>
                        <li>
                            <a href="/article/<%= level1[0].slug %>" class="main-heading"><%= level1[0].title %></a>
                            <% if (level1[1].length !== 0) { %>
                                <ul class="sub-headings">
                                <% level1[1].forEach(level2 => { %>
                                    <% if (level2.length === 0) return %>
                                    <% if (level2.title === undefined || level2.title === null) { %>
                                            <ul class="deep-headings">
                                            <% level2.forEach(level3 => { %>
                                                <li>
                                                    <a href="/article/<%= level3.slug %>"><%= level3.title %></a>
                                                </li>
                                            <% }); %>
                                            </ul>
                                        <% } else { %>
                                            <li><a href="/article/<%= level2.slug %>"><%= level2.title %></a></li>
                                    <% } %>
                                <% }); %>
                                </ul>
                            <% } %>
                        </li>
                    <% }); %>
                <% } %>
            </ol>
        </div>
    </div>
</main>